aioredis==2.0.1
aiosmtplib==1.1.6
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
bcrypt==3.2.0
blinker==1.4
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cryptography==37.0.1
cymem==2.0.6
Deprecated==1.2.13
dnspython==2.2.1
ecdsa==0.17.0
email-validator==1.2.0
fakeredis==1.7.1
fastapi==0.75.2
fastapi-mail==1.0.8
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httptools==0.4.0
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
Jinja2==3.1.1
langcodes==3.3.0
MarkupSafe==2.1.1
motor==3.0.0
murmurhash==1.0.7
numpy==1.22.3
packaging==21.3
passlib==1.7.4
pathy==0.6.1
preshed==3.0.6
pyasn1==0.4.8
pycparser==2.21
pydantic==1.8.2
pymongo==4.1.1
pyparsing==3.0.8
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
PyYAML==6.0
redis==4.1.4
requests==2.27.1
rfc3986==1.5.0
rsa==4.8
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
sortedcontainers==2.4.0
starlette==0.17.1
thinc==8.0.15
tqdm==4.64.0
typer==0.4.1
typing-extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
wasabi==0.9.1
watchgod==0.8.2
websockets==10.3
wrapt==1.14.0
