africastalking==1.2.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.4.1
amqp==2.5.2
anyio==3.4.0
apturl==0.5.2
argcomplete==2.0.0
argon2-cffi==19.2.0
-e git+https://github.com/ooduor/arrow.git@b65ec61ba760185d76d14b5cbcd23282032be552#egg=arrow
asgiref==3.4.1
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.1.5
attrs==19.3.0
Authomatic==1.0.0
autopep8==1.5.4
Babel==2.8.0
babel-lingua-chameleon==0.1.0
backcall==0.1.0
base58==2.1.1
bcrypt==3.1.7
beautifulsoup4==4.8.2
billiard==3.6.3.0
binaryornot==0.4.4
bitarray==1.2.2
bleach==3.1.3
blessings==1.7
blinker==1.4
boto3==1.12.29
botocore==1.15.29
bpython==0.20.1
Brlapi==0.7.0
Brotli==1.0.9
cached-property==1.5.1
cachetools==4.0.0
celery==4.4.2
certifi==2019.11.28
cffi==1.14.0
Chameleon==3.6.2
chardet==3.0.4
charset-normalizer==2.0.9
check-manifest==0.41
chrome-gnome-shell==0.0.0
cli-helpers==1.2.1
click==7.1.1
colander==1.7.0
ColanderAlchemy==0.3.4
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
configparser==4.0.2
contextlib2==0.5.5
cookiecutter==1.7.3
cornice==5.0.1
crayons==0.3.0
cryptography==2.8
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
curtsies==0.3.4
cycler==0.10.0
cytoolz==0.11.2
daemonocle==1.0.1
dash==1.13.3
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-renderer==1.5.0
dash-table==4.8.1
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
deform==2.0.13
defusedxml==0.6.0
Deprecated==1.2.13
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
duplicity==0.8.12.0
entrypoints==0.3
et-xmlfile==1.0.1
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
fastapi==0.70.0
fasteners==0.14.1
flake8==3.7.9
Flask==1.1.2
Flask-Compress==1.8.0
Flask-WTF==0.14.3
FormEncode==2.0.1
frozenlist==1.3.0
future==0.18.2
gpg===1.13.1-unknown
greenlet==1.1.2
h11==0.12.0
hexbytes==0.2.2
html5lib==1.0.1
httplib2==0.14.0
humanize==2.0.0
hupper==1.10.2
idna==2.9
imagesize==1.2.0
imbalanced-learn==0.7.0
importlib-metadata==1.5.0
importlib-resources==5.4.0
ipfshttpclient==0.8.0a2
ipykernel==5.1.4
ipyparallel==6.3.0
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.12
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
jinja2-time==0.2.0
jmespath==0.9.5
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kazam==1.4.5
keyring==18.0.1
kiwisolver==1.2.0
kombu==4.6.8
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lingua==4.14
lockfile==0.12.2
logutils==0.3.5
louis==3.12.0
lru-dict==1.1.7
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.2
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.7.1
matplotlib==3.3.2
mccabe==0.6.1
-e git+https://github.com/lucienmakutano/mfarm.rootshelf@28e481bcc8fb348bdeb4195fbad5ea60e4a53cff#egg=mfarm.rootshelf
mistune==0.8.4
monotonic==1.5
more-itertools==8.2.0
multiaddr==0.0.9
multidict==6.0.2
nbclient==0.5.0
nbconvert==5.6.1
nbformat==5.0.4
nest-asyncio==1.4.0
netaddr==0.8.0
netifaces==0.10.4
nose==1.3.7
notebook==6.0.3
numpy==1.19.2
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.5.62
openpyxl==3.0.3
packaging==20.3
pandas==1.0.5
pandocfilters==1.4.2
paramiko==2.6.0
parsimonious==0.8.1
parso==0.6.2
PasteDeploy==2.1.0
pathlib2==2.3.5
pendulum==2.1.2
pep517==0.8.1
peppercorn==0.6
pexpect==4.8.0
pgcli==2.2.0
pgspecial==1.11.9
phonenumbers==8.12.3
pickleshare==0.7.5
Pillow==7.1.1
pipx==1.0.0
pkginfo==1.5.0.1
plaster==1.0
plaster-pastedeploy==0.7
plotly==4.14.1
pluggy==0.13.1
polib==1.1.0
port-for==0.4
powerline-status==2.7
poyo==0.5.0
premailer==3.6.1
prettyconf==2.1.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.20.1
protonvpn-cli==2.2.4
psutil==5.7.0
psycopg2==2.9.2
psycopg2-binary==2.9.1
ptyprocess==0.6.0
py==1.8.1
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.14.1
pycups==1.9.73
pydantic==1.8.2
pyflakes==2.1.1
pygame==2.0.1
Pygments==2.6.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.12.1
PyMySQL==0.9.3
PyNaCl==1.3.0
pyparsing==2.4.6
pyramid==1.10.4
pyramid-debugtoolbar==4.6.1
pyramid-jinja2==2.8
pyramid-layout==1.0
pyramid-mailer==0.15.1
pyramid-mako==1.1.0
pyramid-notebook==0.3.0
pyramid-redis-sessions==1.0.1
pyramid-retry==2.1
pyramid-tm==2.4
pyRFC3339==1.1
pyroma==2.6
pyrsistent==0.15.7
pytest==5.4.1
pytest-runner==5.2
pytest-splinter==2.0.1
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-dotenv==0.19.2
python-editor==1.0.4
python-slugify==4.0.0
pythondialog==3.5.1
pytz==2019.3
pytzdata==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.7
QtPy==1.9.0
rainbow-logging-handler==2.2.2
readme-renderer==25.0
redis==3.4.1
reportlab==3.5.34
repoze.lru==0.7
repoze.sendmail==4.4.1
requests==2.23.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
retrying==1.3.3
rlp==2.0.1
s3transfer==0.3.3
schema==0.7.1
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
SecretStorage==2.3.1
selenium==3.141.0
Send2Trash==1.5.0
sentry-sdk==0.17.6
setproctitle==1.1.10
setuptools-git==1.2
simplegeneric==0.8.1
simplejson==3.16.0
six==1.14.0
sniffio==1.2.0
snowballstemmer==2.0.0
soupsieve==2.0
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
splinter==0.13.0
SQLAlchemy==1.3.15
SQLAlchemy-Utils==0.36.3
sqlparse==0.3.1
ssh-import-id==5.10
starlette==0.16.0
systemd-python==234
tabulate==0.8.6
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
texttable==1.6.2
threadpoolctl==2.1.0
toml==0.10.0
toolz==0.11.2
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.3
transaction==3.0.0
translationstring==1.3
twine==1.15.0
typing_extensions==4.0.0
ubuntu-advantage-tools==27.7
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
userpath==1.8.0
uvicorn==0.15.0
varint==1.0.2
vboxapi==1.0
venusian==3.0.0
vine==1.3.0
wadllib==1.3.3
waitress==1.4.3
wcwidth==0.1.8
web3==5.29.0
webdriver-manager==2.3.0
webencodings==0.5.1
WebOb==1.8.6
-e git+https://github.com/ooduor/websauna.git@2e78cd87eda305fbbb1080d386b8cf96537360e5#egg=websauna
websocket-client==0.53.0
websockets==9.1
WebTest==2.0.34
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.13.3
ws4py==0.5.1
WTForms==2.3.3
xkit==0.0.0
xlrd==1.2.0
yarl==1.7.2
zest.releaser==6.20.1
zipp==1.2.0
zope.deprecation==4.4.0
zope.interface==4.7.2
zope.sqlalchemy==1.3
